/* DEFAULT CONFIG CSS */
html,body{height: 100% !important;}

body{ 
	background-color: white !important;
}

h1{color: #7e93da !important;}
h4{margin-bottom: 3px !important;}
h5{font-size: 15px !important; text-transform: uppercase; margin: 5px !important;}

p{margin: 5px !important;}
ul{list-style: none;padding: 0px;margin-bottom: 3px !important;}

.vcenter {display: flex;align-items: center;flex-wrap: wrap;height: 250.500px}
.nopadding{padding-right: 0px !important;padding-left: 0px !important;}
.btn-mobile{visibility: hidden;display: none;}

/* MENU CONFIG CSS */

.selected{ border-bottom: 3px solid #7e93da;}
.selection{ background-color: #7e93da;}

.menu-item{
	float: left;
	padding: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	color: white;
}

.menu-lateral-item{
	font-size: 12px;
	padding-left: 15px;
	color:white;
	cursor: pointer;
} .menu-lateral-item:hover{color: #7e93da;}

.navbar,
.menu-model,
.menu-store{background-color: #536292;}

.menu-store{height: 650px;}
.menu-model{ padding: 10px;}

 /* IMG CONGFIG */

.logo{
	z-index: 10;
	left: 50px;
	position: relative;
	height: 210px;
	width: 210px;
}

.categoria{
	width: 200px;
}

/* PAG CONFIG CSS */

.pagebox{
 overflow: auto;
 height: 450px;
}

/* TRANSITION */

.transition.ng-enter {
  transition: 0.7s linear all;
  opacity:0;
}

.transition.ng-enter.ng-enter-active {
  opacity:1;
}

/****** TABLET ******/
@media only screen and (max-width: 1024px) {
	.selected{ 
		border-bottom: 0px solid #7e93da;
		background-color: #7e93da;
	}

	.hidden-mobile{display: none !important;}
	.btn-mobile{visibility: visible;display: initial;}
}	

@media only screen and (max-width: 768px) {
	.logo{
		left: 0px;
	}
}	 

/****** MOBILE ******/
@media only screen and (max-width: 450px) {
	.logo{
		left: 70px;
	}
}	

