/* DEFAULT CONFIG CSS */
html,body{height: 100% !important;}

body{ 
	background-color: white !important;
}

h1{color: #7e93da !important;}
h5{font-size: 15px !important; text-transform: uppercase; margin: 5px !important;}

p{margin: 5px !important;}
ul{list-style: none;padding: 0px;}

.vcenter {display: flex;align-items: center;flex-wrap: wrap;height: 250.500px}
.nopadding{padding-right: 0px !important;padding-left: 0px !important;}
.btn-mobile{visibility: hidden;display: none;}

/* MENU CONFIG CSS */

.selected{ border-bottom: 3px solid #7e93da;}
.selection{ background-color: #7e93da;}

.menu-item{
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	color: white;
	box-shadow: 0px 10px 8px #888888;
}

.menu-store{
    height: 583px;
    background-color: #536292;
}

.navbar{
	background-color: #536292;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,.1)
}

.logo{
	z-index: 10;
	position: fixed;
	top:0px;
	height: 350px;
	width: 350px;
}

/* PAG CONFIG CSS */

.pagebox{
	height: 350px;
	color:#A3A3A3;
	padding: 20px;
}

/* TRANSITION */

.transition.ng-enter {
  transition: 0.7s linear all;
  opacity:0;
}

.transition.ng-enter.ng-enter-active {
  opacity:1;
}

/****** TABLET ******/
@media only screen and (max-width: 1024px) {
	.selected{ 
		border-bottom: 0px solid rgba(37, 255, 72, 0.58);
		background-color: rgba(37, 255, 72, 0.58);
	}

	.hidden-mobile{display: none !important;}
	.btn-mobile{visibility: visible;display: initial;}
}	

@media only screen and (max-width: 768px) {

}	 

/****** MOBILE ******/
@media only screen and (max-width: 450px) {

}	

